{% extends 'base.html' %}

{% block content %}

<div class="col-md-4 mx-auto">
<div class="text-center">
<h3>Iniciar sesión</h3>
</div>
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" action="/acceso">

    <input class="form-control mb-2" type="email" name="email" placeholder="Correo">

    <input class="form-control mb-2" type="password" name="password" placeholder="Contraseña">

    <button class="btn btn-primary w-100">Entrar</button>

</form>

<a href="/registro">Crear cuenta</a>

</div>

{% endblock %}