{% extends 'base.html' %}

{% block content %}

<h3>Mis tareas</h3>


{% for t in tareas %}
<div class="card mb-3">
    <div class="card-body">

        <h5>{{ t.titulo }}</h5>
        <p>{{ t.descripcion }}</p>

        <span class="badge bg-secondary">{{ t.estado }}</span>

        <form method="POST" action="/cambiar_estado/{{ t._id }}" class="mt-2">
            <select name="estado" class="form-select mb-2">
                <option>pendiente</option>
                <option>en_progreso</option>
                <option>completada</option>
            </select>
            <button class="btn btn-primary btn-sm">Actualizar</button>
        </form>

        <form method="POST" action="/borrar_tarea/{{ t._id }}">
            <button class="btn btn-danger btn-sm mt-2">Eliminar</button>
        </form>

    </div>
</div>
{% endfor %}

{% endblock %}